.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 6px 9px 6px;
    background: rgba(0, 157, 255, 0.1);
    border-radius: 25px;
    margin-top: auto;
    padding: 6px;
}

.footer-item {
    width: 24%;
    height: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 21px;
    background: rgba(64, 184, 192, 0.28);
    box-shadow: rgba(0, 0, 0, 0.25) 0 0 12px;
    box-shadow: inset 0 0 17px rgba(0, 0, 0, 0.3);

    &__icon {
        width: 34px;
        height: 34px;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}