.main-planet {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 15px;
    margin-top: 10%;
}

.income {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-tap {
        background: linear-gradient(90deg, #232340, #005757);
        box-shadow: rgba(255, 255, 255, 0.25) 0 0 12px;

    }

    &-hour {
        background: linear-gradient(90deg, #202041, #7816CE);
        box-shadow: #481084 0 0 12px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 9px;
        padding: 7px 13px;
        border: 1px #fff solid;
        border-radius: 20px;
        font-size: clamp(11px, 2.5vw, 11px);

        &-value {
            font-size: clamp(13px, 3vw, 14px);
        }

        &-icon {
            width: 14px;
            height: 14px;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }

        &-label {
            opacity: 80%;
            text-shadow: rgba(255, 255, 255, 0.654) 0 0 8px;
        }
    }
}

.planet-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.planet-balance {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    &__value {
        font-size: 32px;
        font-weight: 800;
        text-shadow: rgba(255, 255, 255, 0.654) 0 0 10px;
    }

    &__icon {
        width: 40px;
        height: 40px;

        img {
            object-fit: contain;
            height: 100%;
            width: 100%;
        }
    }
}

.planet-container {
    margin-top: 30px;

    video {
        width: min (288px, 75vw);
        height: auto;
        max-height: 40vh;
    }
}

.progress {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin-top: 38px;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 3px;

            &-label {
                font-size: 14px;
                opacity: 60%;
            }

            &-value {
                font-size: 16px;
                text-shadow: rgba(255, 255, 255, 0.25) 0 0 7.5px;
            }

            &-icon {
                height: 16px;
                width: 14px;

                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &-bar {
        width: 100%;
        height: 14px;
        background: #fff;
        margin-top: 12px;
        border-radius: 7px;
        overflow: hidden;

        &-fill {
            width: 0%;
            height: 100%;
            border-radius: 7px;
            background: linear-gradient(90deg, #9700DD, #510077);
            box-shadow: #000 0 0 9px;
        }
    }
}