.games-content {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(0.5rem);
  border: rgba(255, 255, 255, 0.1) 2px solid;
  flex: 1;
  margin: 0 1rem;
  max-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
}
