.shop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background: url('/img/upgrades-bg.jpg') center center no-repeat;
    background-size: cover;
}

.shop-wrapper {
    padding: 0px 13px;

    .shop-header {
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        padding: 19px 0 30px;

        a {
            text-decoration: none;
        }

        .back-btn {
            color: #fff;
            background: transparent;
            border: none;
            display: flex;
            gap: 5px;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 0.9rem;
            cursor: pointer;

            &__image {
                width: 0.6rem;
                aspect-ratio: 1 / 1;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        &__title {
            font-size: 1rem;
            letter-spacing: 0.5px;
            font-weight: 600;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            text-align: center;
        }

        &__balance {
            display: flex;
            align-items: center;
            gap: 6px;

            &-value {
                font-size: 1rem;
                font-weight: 600;
                text-shadow: rgba(255, 255, 255, 0.45) 0 0 10px;
            }

            &-image {
                display: inline-block;
                width: 1.1rem;
                aspect-ratio: 1 / 1;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    .shop-level {
        font-size: 0.9rem;
        font-weight: 600;
    }

    .shop-navigation {
        margin-top: 20px;
        background: rgba(0, 157, 255, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 2rem;
        padding: 6px;

        &__button {
            color: #fff;
            text-decoration: none;
            font-size: 0.8rem;
            padding: 12px 16px;
            background: rgba(64, 184, 192, 0.28);
            border-radius: 1.8rem;
            box-shadow: inset rgba(0, 0, 0, 0.3) 0 0 17px, rgba(0, 0, 0, 0.25) 0 0 11px;
            font-weight: 600;
            transition: all 0.2s linear;

            &.active {
                outline: #fff 2px solid;
                outline-offset: -2px;
            }
        }
    }

    .divider {
        margin: 15px auto;
        width: 80%;
        height: 1px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }

    .shop-content {
        overflow: scroll;
        max-height: 60vh;
    }
}